
/*-------------------------------*/

/*          animation            */

/*-------------------------------*/

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    80% {
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}