* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.is-fixed {
  position: fixed;
  z-index: 999; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

a {
  color: inherit;
  text-decoration: none; }
  a.wd-svg {
    display: flex;
    align-items: center; }

a:active, a:hover {
  outline: 0; }

button {
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  appearance: none; }

.wd-btn {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px; }
  .wd-btn:focus {
    outline: none;
    background-color: #f2f2f2; }
  .wd-btn:disabled {
    cursor: default;
    opacity: 0.5; }
  .wd-btn:hover:not(:disabled) {
    background-color: rgba(133, 144, 166, 0.06); }

.wd-btn .wd-btn-icon {
  fill: currentColor;
  display: flex;
  align-items: center; }

.wd-btn-link, .wd-btn-plain {
  height: auto;
  padding: 0;
  line-height: inherit;
  background-color: transparent;
  border: none; }

.wd-btn-plain:hover {
  background-color: transparent; }

.wd-btn-plain:hover {
  color: #77839c; }

.wd-btn-link {
  color: #175199; }

.wd-btn-link:hover {
  background-color: transparent;
  color: #144785; }

.wd-btn-grey {
  color: #8590a6;
  border-color: #8590a6; }

.wd-btn-grey:hover:not(:disabled) {
  background-color: rgba(133, 144, 166, 0.06); }

.wd-btn-blue {
  color: #0084ff;
  border-color: #0084ff; }

.wd-btn-blue:hover:not(:disabled) {
  background-color: rgba(0, 132, 255, 0.06); }

.wd-btn-green {
  color: #11a668;
  border-color: #11a668; }

.wd-btn-green:hover:not(:disabled) {
  background-color: rgba(17, 166, 104, 0.06); }

.wd-btn-red {
  color: #f36;
  border-color: #f36; }

.wd-btn-red:hover:not(:disabled) {
  background-color: rgba(255, 51, 102, 0.06); }

.wd-btn-primary.wd-btn-blue {
  color: #fff;
  background-color: #0084ff; }

.wd-btn-primary.wd-btn-blue:hover:not(:disabled) {
  border-color: #0077e6;
  background-color: #0077e6; }

.wd-btn-primary.wd-btn-green {
  color: #fff;
  background-color: #12b370; }

.wd-btn-primary.wd-btn-green:hover:not(:disabled) {
  border-color: #109e63;
  background-color: #109e63 !important; }

.wd-btn-primary.wd-btn-red {
  color: #fff;
  background-color: #f36; }

.wd-btn-primary.wd-btn-red:hover:not(:disabled) {
  border-color: #ff1a53;
  background-color: #ff1a53; }

.wd-btn-primary.wd-btn-grey {
  color: #fff;
  background-color: #8590a6; }

.wd-btn-primary.wd-btn-grey:hover:not(:disabled) {
  border-color: #77839c;
  background-color: #77839c; }

.wd-searchbar {
  display: flex;
  align-items: center;
  width: 80%;
  transition: width .3s ease; }

.wd-searchbar-toolWrapper {
  position: relative;
  z-index: 104;
  width: 100%; }

.wd-searchbar-ask {
  z-index: 103;
  padding: 2px 14px;
  margin-left: 16px;
  transition: opacity .3s ease, transform .3s ease;
  line-height: 30px; }

.wd-searchbar-tool {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%; }

.wd-input-wrapper {
  position: relative;
  display: flex;
  height: 36px;
  padding: 4px 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background .2s,border .2s; }

.wd-searchbar-input {
  width: 100%;
  transition: width .2s ease,background .3s ease; }

.wd-input-wrapper.wd-wrapper-grey {
  background: #f6f6f6; }

.wd-input {
  flex: 1;
  padding: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  border: none;
  outline: none;
  resize: none; }

input.wd-input {
  color: #1a1a1a;
  height: 24px;
  line-height: 24px; }

.wd-input-after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transform: translate3d(0, -50%, 0); }

.wd-searchbar-searchIcon {
  position: absolute;
  right: 0;
  background: transparent !important;
  border: none !important;
  padding: 0 14px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  transition: fill .3s ease; }

.wd-searchbar-focused {
  width: 90%; }

.wd-input-wrapper.is-focus {
  background: #fff;
  border: 1px solid #8590a6; }

.wd-searchbar-focused .wd-icon {
  fill: #0084ff; }

.wd-askBtn-hidden {
  opacity: 0;
  transform: scale(0); }

/*# sourceMappingURL=searchbar.css.map */
